AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
BreakBeforeBinaryOperators: false
IndentWidth: 3
SortIncludes: true
NamespaceIndentation: All
AccessModifierOffset: 0
ColumnLimit: 120
PointerAlignment: Left
BreakBeforeBraces: Allman
IndentCaseLabels: true