#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <behaviors/app.dtsi>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &app_macro APP_SETTINGS 1 &kp W &kp E
                &kp A &kp S &kp D
                &kp Z &kp X &kp C
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        app_layer {
            bindings = <
                &app_macro APP_MAIN 0 &app APP_A &app APP_B
                &none &none &none
                &none &none &none
            >;

            sensor-bindings = <&app_encoder>;
        };
    };

    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 2 6 8>;
            bindings = <&bootloader>;
        };
    };
};
